# Server Konfiguration
PORT=3000

# Datenbankverbindung (PostgreSQL) - Wird vom internen Docker-Netzwerk aufgelöst
DB_HOST=db
DB_PORT=5432
DB_USER=billecup_admin
DB_PASSWORD=dein_sehr_sicheres_produktions_passwort
DB_NAME=billecup_samstag

# Sicherheit und Authentifizierung für die API
JWT_SECRET=dein_sehr_geheimes_turnier_token_2026_prod
ADMIN_USERNAME=admin
ADMIN_PASSWORD=dein_sehr_sicheres_admin_passwort